*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex{
    display: flex;
}

body{
    color: white;
    height: 100vh;
    background-color: #000;
    padding-top: 90px;
}

header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 90px;
    background-color: red;
    justify-content: end;
    align-items: start;
    
}

header .icon-container{
    background-color: #494a4a;
    padding: 0.5rem 0.4rem;
    font-size: 0.9rem;
    border-radius: 0.4rem;
    margin: 10px 7px 0 0;
}

header .icon-container i{
    font-size: 1rem;
}

header .icon-container .fa-table-cells{
    margin-right: 7px;
}
